$color_primary: #22a19c;
$color_secondary: #0ebdd0;

//Default
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "latoregular", sans-serif;
  background-color: #f4f4f4;
  color: #336761;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  position: relative;
  --header-height: 90px;
  @media (max-width: 991px) {
    --header-height: 77.8px;
  }
}

a,
a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "latosemibold", sans-serif;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
  outline: none;
}

.-color-primary {
  color: $color_primary;
}

.wrapper {
  overflow: hidden;
}

// Fix iframe
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Slider */
.slick-slider {
  --arrow: -24px;
  @media (max-width: 767px) {
    --arrow: -10px;
  }
}
.slick-arrow {
  border: 1px solid #fbfbfb;
  background: #0b5cff;
  color: #ffffff;
  font-size: 15px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  transition: all 0.5s;
  overflow: hidden;
  &:before {
    content: "\e92b";
    font-family: "icomoon";
    display: block;
    margin: 0 auto;
    color: #fff;
  }

  &.slick-disabled {
    opacity: 0;
  }
  @media (max-width: 1299px) {
  }
}
.slick-prev {
  &:before {
    transform: rotate(180deg);
  }
  &:hover {
    transform: translateY(-50%) translateX(-5px);
  }
}
.slick-next {
  &:before {
    content: "\e92b";
  }
  &:hover {
    transform: translateY(-50%) translateX(5px);
  }
}

.slick-dots {
  bottom: -45px;
  li {
    margin: 0;
    button {
      position: relative;
      width: 45px;
      height: 4px;
      border-radius: 0;
      background-color: #c2ced2;
      transition: all 0.5s;
    }
    &.slick-active button,
    &:hover button {
      border-radius: 4px;
      background-color: #183fcb;
    }
  }
}

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%;
  img {
    margin: 0px auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &.-contain {
    img {
      object-fit: contain;
    }
  }
}
.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.text__truncate.-n2 {
  -webkit-line-clamp: 2;
}
.text__truncate.-n3 {
  -webkit-line-clamp: 3;
}
.text__truncate.-n4 {
  -webkit-line-clamp: 4;
}

/**/
br {
  @media (max-width: 1199px) {
    &.-hide-pc {
      display: none;
    }
  }
}

.wow {
  visibility: hidden;
}

/**/
.btn {
  position: relative;
  padding: 10px 26px 6px;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(#1596e1, 0.8);
  border: 0;
  border-radius: 24px;
  min-width: 150px;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
  @media only screen and (max-width: 575px) {
    padding: 4px 12px;
    min-width: 120px;
    font-size: 12px;
    line-height: 2;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(90deg, #22a19c 0%, #68e0cf 100%);
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
  }
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
  i,
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &.-wallet {
    span:before {
      content: "\e904";
      font-family: "icomoon";
      position: relative;
      top: -1px;
      font-size: 22px;
      font-weight: 400;
      margin-right: 14px;
    }
  }
}

@media (max-width: 991px) {
  body {
    --header-height: 80px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-lg-39 {
    width: 39%;
  }
  .col-lg-61 {
    width: 61%;
  }
  .col-lg-52 {
    width: 52%;
  }
  .col-lg-44 {
    width: 44%;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(1400px + calc(var(--bs-gutter-x, 0.75rem) * 2));
  }
}
// @media (min-width: 1400px){
//     .container-xl, .container-lg, .container-md, .container-sm, .container {
//         max-width: 1374px;
//     }
// }
