.footer {
  border-top: 8px solid #cce1d7;
  padding: 40px 0 32px;
  @media only screen and (max-width: 767px) {
    padding: 30px 0 16px;
  }
  &__title {
    color: #113934;
    font-family: "latomedium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__form {
    margin-top: 16px;
    position: relative;
    @media only screen and (min-width: 768px) {
      max-width: 320px;
    }
    .btn {
      position: absolute;
      right: 4px;
      top: 4px;
      min-width: 0;
      @media only screen and (max-width: 575px) {
        padding: 8px 26px;
      }
    }
    .form-control {
      padding-right: 92px;
    }
  }
  &__social {
    margin-top: 32px;
    &__title {
      margin-bottom: 8px;
    }
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 16px;
      }
      a {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        transition: all 0.5s;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: -1px;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: linear-gradient(45deg, #fb451d, #ed8409);
        }
        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
  &-info {
    padding-bottom: 34px;
    &__logo {
      margin-bottom: 24px;
      @media only screen and (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    &__txt {
      max-width: 570px;
    }
  }
  &-copyright {
    border-top: 1px solid #cce1d7;
    color: #113934;
    padding-top: 32px;
    @media only screen and (max-width: 767px) {
      padding-top: 24px;
    }
    @media only screen and (max-width: 575px) {
      font-size: 12px;
    }
    span {
      font-weight: 300;
    }
  }
  .row {
    [class*="col-"] {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}
