/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  a {
    position: relative;
    display: block;
    color: #22a19c;
    font-size: 16px;
    line-height: 1.5;
    padding: 11px 24px;
    text-transform: capitalize;
    transition: all 0.5s;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 11px;
      bottom: -10px;
      left: 0;
      background: url("../img/icon-leaf.png") no-repeat bottom center / auto
        100%;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  .el__menu {
    display: flex;
    .menu-item {
      &.active,
      &:hover {
        a {
          color: #ccd9bd;
          &:after {
            bottom: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}
/**/

.menu-mb__btn {
  position: relative;
  display: block;
  cursor: pointer;
}

/**/
.menu-mb__btn {
  display: block;
  margin-right: 24px;
  @media (max-width: 575px) {
    margin-right: 12px;
  }
}
.menu-mb__btn .iconz-bar {
  width: 24px;
  transition: all 0.2s;
  background: #5d5e67;
  display: block;
  height: 3px;
  border-radius: 2px;
  @media (max-width: 420px) {
    width: 20px;
  }
}
.menu-mb__btn .iconz-bar + .iconz-bar {
  margin-top: 6px;
  @media (max-width: 420px) {
    margin-top: 4px;
  }
}
.menu-mb__btn.active .iconz-bar:nth-of-type(1) {
  width: 24px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  @media (max-width: 420px) {
    width: 20px;
  }
}
.menu-mb__btn .iconz-bar:nth-of-type(3) {
  width: 24px;
  @media (max-width: 420px) {
    width: 20px;
  }
}
.menu-mb__btn.active .iconz-bar:nth-of-type(2) {
  opacity: 0;
}
.menu-mb__btn.active .iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: -1px;
  -webkit-transform-origin: -1px;
  transform-origin: -1px;
  @media (max-width: 420px) {
    -ms-transform-origin: 0;
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
}
.menu-mb__btn.iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
