@-webkit-keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}
}
.fadeIn.animated{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
@-webkit-keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
	0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInLeft.animated{-webkit-animation:fadeInLeft 1.5s ease-in-out;-moz-animation:fadeInLeft 1.5s ease-in-out;animation:fadeInLeft 1.5s ease-in-out;}
@-webkit-keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
	0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInRight.animated{-webkit-animation:fadeInRight 1.5s ease-in-out;-moz-animation:fadeInRight 1.5s ease-in-out;animation:fadeInRight 1.5s ease-in-out;}
@-webkit-keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
	0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
	to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInUp.animated{-webkit-animation:fadeInUp 1.5s ease-in-out;-moz-animation:fadeInUp 1.5s ease-in-out;animation:fadeInUp 1.5s ease-in-out;}
@-webkit-keyframes fadeInDown{
	from{opacity:0;-webkit-transform:translate3d(0,-20%,0);transform:translate3d(0,-20%,0);}
	to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes fadeInDown{
	from{opacity:0;-webkit-transform:translate3d(0,-20%,0);transform:translate3d(0,-20%,0);}
	to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.fadeInDown.animated{-webkit-animation:fadeInDown 1.5s ease-in-out;-moz-animation:fadeInDown 1.5s ease-in-out;animation:fadeInDown 1.5s ease-in-out;}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}