$color_primary: #22a19c;
$color_secondary: #0ebdd0;

//Default
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
  display: block;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  color: #af8b56;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  position: relative;
  --header-height: 196px;
  @media (max-width: 991px) {
    --header-height: 147.33px;
  }

  &.-bg{

    .header:not(.is-active) .action__search{
      .form-control{
        color: #966A29;
        &:focus{
          border-color: #2A6433;
        }
        &::placeholder{
          color: #966A29;
        }
      }
      button{
        color: #966A29;
      }
    }

  }
}



a,
a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  // font-family: "latosemibold", sans-serif;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

a {
  outline: none;
}

.-color-primary {
  color: $color_primary;
}

.wrapper {
  overflow: hidden;
}


/* Slider */
.flickity:not(.-full) {
    --bs-gutter-x: 1rem;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    .slider__item__wrap{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}


.flickity:not(.flickity-enabled) .slider__item__wrap + .slider__item__wrap {
    display: none;
}
.flickity-page-dots{
    bottom: -60px;
    z-index: 1;
    .dot {
        background: #685463;
        opacity: 1;
        width: 54px;
        height: 9px;
        border-radius: 12px;
        &.is-selected, &:hover{
            background: #FFC577;
            opacity: 1;
        }
    }
    @media (max-width:575px){
        .dot {
            width: 32px;
            height: 6px;
        }
    }
}
.flickity-prev-next-button{
    --dn-position: -54px;
    width: 36px;
    height: 39px;
    padding: 0;
    border-radius: 0;
    &:focus{
        box-shadow: none;
    }
}

// Fix iframe
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed,
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.ic-star{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/star.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
}


/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%;
  img {
    margin: 0px auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &.-contain {
    img {
      object-fit: contain;
    }
  }
}
.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.text__truncate.-n2 {
  -webkit-line-clamp: 2;
}
.text__truncate.-n3 {
  -webkit-line-clamp: 3;
}
.text__truncate.-n4 {
  -webkit-line-clamp: 4;
}

/**/
br {
  @media (max-width: 1199px) {
    &.-hide-pc {
      display: none;
    }
  }
}

.wow {
  visibility: hidden;
}

/**/
.btn {
  position: relative;
  padding: 10px 26px 6px;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(#2a6433, 0.8);
  border: 0;
  border-radius: 24px;
  min-width: 150px;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
  @media only screen and (max-width: 575px) {
    padding: 4px 12px;
    min-width: 120px;
    font-size: 12px;
    line-height: 2;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(90deg, #22a19c 0%, #68e0cf 100%);
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
  }
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: rgba(#2a6433, 0.8);
    color: #fff;
    &:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
  i,
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}



@media (max-width: 991px) {

}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {

  .col-lg-20{
    width: 20%;
  }
  .col-lg-39 {
    width: 39%;
  }
  .col-lg-61 {
    width: 61%;
  }
  .col-lg-52 {
    width: 52%;
  }
  .col-lg-44 {
    width: 44%;
  }
}
@media (min-width: 1200px) {
  .container-xxl{}
  .container-1000{
    max-width: 1024px;
  }
  .container-1200{
    max-width: 1200px;
  }
  .col-xl-20{
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .container-xxl{
    max-width: 1424px;
  }
}
// @media (min-width: 1400px){
//     .container-xl, .container-lg, .container-md, .container-sm, .container {
//         max-width: 1374px;
//     }
// }
