// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "../fonts/Lato/stylesheet.css";
@import "../fonts/icomoon/style.css";

@font-face {
  font-family: "VanillaDaisyPro";
  src: url("../fonts/vanilla/SVNVanillaDaisyPro.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.fm-vanilla {
  font-family: "VanillaDaisyPro", sans-serif;
}

// .fm-montserrat {
//   font-family: "Montserrat", sans-serif;
// }
