/*box__title*/
.box__title .title__box{
	font-family: 'Lato', sans-serif;
	position:relative;
	font-size:24px;
	font-weight:700;
	margin-top:20px;
	margin-bottom:24px;
	line-height:1.1;display:block;color:#966A29;
}
.box__title .title__box a{color:#966A29}

/*
======================================
[ Editor Style ]
======================================
*/
.entry-content.-custom{
	font-size: 18px;
	line-height: normal;
	color: #29432D;
	&:after{content:'';clear:both;display:table;}
	h2{
		font-size: 27px;
		line-height: 40px;
	}
	h3{
		font-size: 25px;
		line-height: 40px;
	}
	h3{
		font-size: 22px;
		line-height: 30px;
	}
	strong, h2, h3, h4{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #AF8B56;
		margin-bottom: 24px;
	}

	p, figure{margin-bottom:1rem;}
	.aligncenter{display:block;margin-left:auto;margin-right:auto;}
	img,figure.wp-caption{max-width:100%;height:auto;}
	address p,address p{margin-bottom:5px;}
	a{color:#EF4738;font-weight:500;}
	figcaption{
		width: 100%;
	    margin-top: 5px;
	    text-align: center;
	    font-weight: 500;
	    font-size: 20px;
	    line-height: 34px;
	    display: flex;
	    align-items: center;
	    color: #966A29;
	    font-style: italic;
	}
	img.alignright{float:right;margin:0 0 1em 1em}
	img.alignleft{float:left;margin:0 1em 1em 0}
	img.aligncenter{display:block;margin-left:auto;margin-right:auto; text-align: center;}
	ul{list-style-type:disc;padding-left:15px;margin-bottom:10px;}

	table{width:100%;margin-bottom:1rem;}
	table td,table th{border:1px solid #737476;}
	table td,table th{padding:.75rem;vertical-align:top;border-top:1px solid #737476;}

	blockquote {
	    background: #F8F8F8;
	    padding: 48px 48px;
	    box-shadow: inset 4px 0px 0px #fbaf43;
	    border-radius: 3px;
	    font-weight: 600;
	    font-size: 18px;
	    color: #242424;
	    margin-bottom: 20px;
	}

	@media (max-width:767px){
		blockquote {
		    padding: 48px 32px;
		}
	}
	@media (max-width:575px){
		h2{
			font-size: 24px;
		}
		h3{
			font-size: 22px;
		}
		h4{
			font-size: 20px;
		}
	}
}



/**/
.box__gallery{
	.dnfix__thumb{
		padding-top: 112%;
	}
	.el__item{
		&.-large{
			.dnfix__thumb{
				padding-top: 54.5%;
			}
		}
	}
}

.about__mission{
	padding: 80px 0 0;

	.el__item{
		width: 100%;
		padding: 50px;
		margin-bottom: 80px;
		border: 1px solid rgba(175, 139, 86, 0.5);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		border-radius: 16px;
		&__thumb{
			width: 80px;
		    margin: -90px auto 16px;
		    border: 1px solid rgba(175, 139, 86, 0.5);
		    border-radius: 8px;
		}
		.dnfix__thumb{
			padding-top: 100%;
		}
		&__title{
			font-weight: 600;
		    font-size: 24px;
		    line-height: 34px;
		    color: #29432D;
		    margin-bottom: 16px;
		    text-transform: uppercase;
		    text-align: center;;
		}
	}
	@media (max-width:991px){
		.el__item {
		    padding: 40px 30px;
		}
	}
	@media (max-width:575px){
		.el__item {
		    padding: 32px 16px;
		    .el__item__title {
			    font-size: 20px;
			}
		}
	}
}